<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpg'%>);">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>The best cocktail recipes wiki on the internet!</p>
    <%= link_to "Add new", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="text-center">
<h1>Mister Cocktail's Recipes!</h1>
<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
       <% if cocktail.photo? %>


    <div class="col-xs-12 col-sm-4">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">
          <% name = cocktail.ingredients.sample.name if cocktail.ingredients.first %>
          <%= name %>
        </div>
        <div class="card-description">
          <h1>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </h1>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


<!-- yield(cl_image_tag cocktail.photo.path, width: 200, height: 300, crop: :fill').blank? ? "" : yield(cl_image_tag cocktail.photo.path, width: 200, height: 300, crop: :fill')
 -->
